/** {

}*/

header {
	background-color: #404040;
	color: white;
	font-family: "Mukta Mahee", sans-serif;
}

.header-links a {
	color: white;
	text-decoration: none;
}

.header-links a:hover {
	text-decoration: underline;
}